$colors: (
    alert: #000,
    error: #ff2222,
    success: green,

    delete: #ff2222,
    create: #607d8b,
    update: purple,

    background: #fbfbfb,

    primary: #adadad,
    secondary: #3e3e3e,

    title: #ccc,
    text: #000,
);