#edit-project{

    .tasks{
        td{
            span{
                position: relative;
                display: inline-block;
                transition: 0.3s all;
                width: 20px;
                height: 20px;
                background-color: map-get($colors , success );
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }

}